/* VARIABLES CSS */

:root{
    --background-color: #F3F5FC;
    --primary-color: #0A3871;
    --secondary-color: #D8DFE8;
    --gray: #343A40;
    --gray-light: #495057;
    --white: #FFFFFF;

    --font-family-principal: 'Inter', sans-serif;
}

/* GLOBAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*para que el padding no afecte el tamaño del body*/
}

/* BODY */

body{
    background-color: var(--background-color);
    font-family: var(--font-family-principal);
    height: 100vh; /*100% de la altura de la ventana*/
    width: 100vw; /*100% del ancho de la ventana*/
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /*para que no se vea la barra de desplazamiento horizontal*/
}

/* HEADER */

header{
    padding: 1.5rem;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

/* MAIN */

main{
    display: flex;
    width: 95%;
    gap: 3rem;
    margin: 2rem auto;
    flex: 1;
    
}

/* MAIN SIDE 1 CONTAINER */

.main__container{
    border-radius: 10px;
    padding: 2rem;
    width: 70%;  
    margin-top: 4rem; 
}

.main__container__input_text textarea{
    border: none;
    background-color: var(--background-color);
    font-family: var(--font-family-principal);
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    width: 100%;
    resize: vertical;
}

.main__container__alert{
    width: 50%;
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    color: var(--gray-light);
    margin-top: 22rem;
}

.main__container__alert_logo{
    width: 1rem;
}

.main__container__buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.main__container__buttons button{
    padding: 1rem 3rem;
    width: 50%;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    font-size: 1rem;
}

.main__container__buttons .button_1{
    background-color: var(--primary-color);
    color: var(--white);
}

.main__container__buttons .button_2{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/* MAIN SIDE 2 CONTAINER */

.main__output_text{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.main__output_text img{
    background-color: var(--white);
}

.main__output_text .output_text{
    font-size: 1.5rem;
    color: var(--gray);
    font-weight: 600;
    margin: 1.5rem 0 0 0;
    justify-self: center;
}

.main__output_text p{
    font-size: 1rem;
    color: var(--gray-light);
    font-weight: 400;
    text-align: center;
    padding: 0 0 2rem 0;
}

.button_output{
    padding: 1rem ;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    font-size: 1rem;
}


/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem;
    width: 100%;
}

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
    }

    .main__container,
    .main__container_text{
        width: 100%;
    }

    .main__container__alert{
        width: 100%;
        margin-top: 2rem;
    }

    .main__output_text{
        width: 100%;
    }
    .main__output_text img{
        display: none;
    }
    .main__container__buttons button{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 1rem;
    }

    .main__container {
        padding: 1rem;
    }

    .main__container__buttons {
        flex-direction: column;
    }

    .main__container__buttons button {
        width: 100%;
    }

    .main__container__alert{
        width: 100%;
        margin-top: 2rem;
    }
}